body {
  display: flex;
  flex-direction: column;
}

nav {
  border-width: 1px;
  border-style: dotted;
  justify-content: space-around;
}

div {
  border-width: 1px;
  border-style: dotted;
}

footer {
  border-width: 1px;
  border-style: dotted;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

#left-links {
  display: flex;
  flex-direction: row;
}

#right-links {
  display: flex;
  flex-direction: row;
}